name: publish docs
on: workflow_dispatch
jobs:
  publish-api-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version-file: .java-version
          distribution: zulu
          cache: maven
      - name: Generate Javadoc
        run: ./mvnw -e --batch-mode -pl core javadoc:javadoc -Dcheckstyle.skip=true -Djacoco.skip=true
      - name: Move Javadoc to docs
        run: mv -f core/target/reports/apidocs docs/
      - name: Generate Dokka
        run: ./mvnw -e --batch-mode -pl kotlin dokka:dokka
      - name: Move Dokka to docs
        run: mv -f kotlin/target/dokka docs/
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          folder: docs
          clean: true
